<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue starter app</title>
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <!-- v-cloak hides anything from rendering until the whole app is fully ready to display with the right variables-->

      <!-- <form-input /> -->

      {{greeting}}
      <input
        @keyup.enter="greet(greeting)"
        v-model="greeting"
      /><!-- two way data binding use through the v directive  -->
      <hr />
      <button v-on:click="isVisible = !isVisible">Toggle text</button
      ><!-- v-on:click can also be written as @click -->
      <button @click.prevent.stop="toggleText2">Toggle second text</button>
      <!-- the .prevent, .stop are event modifiers meaning preventDefault and stopPropagation respectively-->

      <test-box v-if="isVisible" />

      <div v-if="isVisible">Optional rendering</div>
      <!-- v-if is conditional rendering while v-show when the condition is false add "display: none" to the element-->
      <div v-else-if="isVisible2">Optional rendering 2</div>
      <div v-else>Optional rendering last option</div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      // Options API type
      const { createApp } = Vue;
      let app = createApp({
        data: function () {
          return {
            greeting: "Hello everyone",
            isVisible: false,
            isVisible2: false,
          };
        },
        methods: {
          toggleText2: function () {
            this.isVisible2 = !this.isVisible2;
          },
          greet(greeting) {
            console.log(this.greeting);
          },
        },
      });
      app.component("form-input", {
        template: `
          <form @submit.prevent="handleSubmit"> 
            <h1>{{title}}</h1>
            <p v-for="(str, i) in inputs" :key="i">{{str}}</p>
            <custom-input v-model="email" v-bind:label="emailLabel"/> <!-- "v-bind:" can be written as ":" to notify that label is not the normal html attribute but a prop passing in a variable-->
            <custom-input v-model="password" :label="passwordLabel"/> 
            <!-- v-model on a child component does some steps, firstly, bind the input to the password variable in data, secondly, create a new ":modelValue = email" prop to be accessed by the child component. This is how the child component pass data to the parent-->
            <custom-input label="Username"/> <!-- the label here is a prop passing in a string that's why it doesn't have the bind symbol(:) --->
            <button>Log in</button>
        </form>
        `,
        components: ["custom-input"],
        data() {
          return {
            title: "Login Form",
            inputs: ["email", "password", "name"],
            email: "",
            password: "",
            emailLabel: "Email",
            passwordLabel: "Password",
          };
        },
        methods: {
          handleSubmit() {
            console.log(this.email, this.password, "Submitted");
          },
        },
      });
      app.component("custom-input", {
        template: `
          <label>
            {{label}}
            <input v-model="inputValue"/>
        </label>
        `,
        props: ["label", "modelValue"],
        computed: {
          inputValue: {
            get() {
              return this.modelValue;
            },
            set(value) {
              // $emit allows to emit event other component can listen to
              this.$emit("update:modelValue", value); //the first argument is a type of event i'm emitting
            },
          },
        },
        // data() {
        //   return {
        //     inputValue: "",
        //   };
        // },
      }),
        app.component("test-box", {
          template: `
          <div>
            Testing box
            </div>
          `,
          created(){
              console.log("created")
          },
          mounted(){
            console.log("mounted")
          },
          unmounted(){
            console.log("unmounted")
          }
        });
      app.mount("#app");
    </script>
  </body>
</html>
